body {
        font-family: 'DM Sans', sans-serif;
        background-color: beige;
        max-width: 900PX;
    }
    h1{
        font-size: 50px;
        color: rgb(225, 0, 255);
    }
.orrange{
    color: orange;
}
.u-f{
    background-color: aqua;
}
.e-f{
    background-color: cadetblue;
}
span{
    color: rgb(210, 189, 30);
}
a{
    text-decoration: none;
    background-color: blue;
    color: azure;
    display: block;
    width: 100%;
}
footer{
    text-align: center;
}
.organigation{
    background-color: burlywood;
}
.c{
    background-color: aquamarine;
    height: 50px;
    width: 100px;
}
.y{
    background-color: brown;
    height: 50px;
    width: 100px;
}
.m{
    background-color: rgb(15, 170, 209);
    height: 50px; 
    width: 100px;

}
.m:hover{
    background-color: rgb(151, 209, 15);
    height: 100px; 
    width: 200px;
    text-align: center;
}